#app {
  color: green;
}
.test-class {
  color: red;
}
.square-container {
	height: 120px; display: flex; align-items: center; justify-content: center;
}
.square { 
	aspect-ratio: 1/1; transition: all 0.3s ease; display: flex; align-items: center; justify-content: center; color: white; border-radius: 8px; 
}